:root {
  --size-static-48: 48px;
  --size-static-44: 44px;
  --size-static-40: 40px;
  --size-static-32: 32px;
  --size-static-24: 24px;
  --size-static-20: 20px;
  --size-static-16: 16px;
  --size-static-12: 12px;
  --size-static-8: 8px;
  --size-static-4: 4px;
}
